<!--Start Menu-->
<nav class="navbar navbar-expand-lg navbar-dark mx-auto">
  <a id="logo" class="navbar-brand" href="#"> <img alt="Torre" src="imgs/torre-logo.png" width="40" height="40"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav mx-auto w-50" role="tablist">
      <li class="nav-item m-auto">
        <a class="nav-link active text-center" id="home-tab"  onclick="ExternalLinks(this)" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>  
      
      <li class="nav-item m-auto">
        <a class="nav-link text-center" id="genome-tab" onclick="ExternalLinks(this)" data-toggle="tab" href="https://torre.co/en/sebasoviedo69" role="tab" aria-controls="genome" aria-selected="false">Genome</a>
      </li>
      <li class="nav-item m-auto">
        <a class="d-flex justify-content-center m-0 p-0" id="mainLogo" onclick="ExternalLinks(this)" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"><img alt="Torre" src="imgs/torre-logo.png" width="50" height="50"></a>
      </li> 
      <li class="nav-item m-auto">
        <a class="nav-link text-center" id="repository-tab" onclick="ExternalLinks(this)" data-toggle="tab" href="https://github.com/sebasoviedo69/torre" role="tab" aria-controls="repository" aria-selected="false">Repository</a>
      </li>

      <li class="nav-item m-auto">
        <a class="nav-link text-center" id="docs-tab" onclick="ExternalLinks(this)" data-toggle="tab" href="https://github.com/sebasoviedo69/torre/tree/main/docs" role="tab" aria-controls="docs" aria-selected="false">Docs</a>
      </li>
    </ul>
  </div>
</nav>

<!--End Menu-->

<script src="js/menu.js"></script>