
	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>

    </head>

    <body>
        
        
        <form id="myForm">

            <input type="text" name="user" id="user">
            <button type="submit">enviar</button>

        </form>

        <script>

            const myForm = document.getElementById("myForm");

            myForm.addEventListener('submit', function(e){
                e.preventDefault();

                const formData = new FormData(this);
                fetch("/results", {
                    method: 'post',
                    body: formData
                }).then(function (res){
                    return res.text();
                }).then(function (text){
                    console.log(text);
                }).catch(function (error) {
                    console.log(error);
                })
            });
        </script>
    </body>
</html>
