
	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/menu') %>
        <div>Enter your username of Torre</div>
        <div>Ex. sebasoviedo69</div>
        
        <form id="user-form" method="post" action="/results">
            <input type="text" name="user[id]">
            <button class="btn" type="submit">Generate</button>
        </form>

        <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        
    </body>
</html>
