
	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/menu') %>
        
        <div class="container">

            <section class="row d-flex pt-5 pb-0 ">
                <div class="col-12 pt-5 pb-0 text-center">
                    <h2>Enter your username at Torre</h2>
                    <p class="text-secondary">Ex. sebasoviedo69</p>
                </div>
            </section>

            <section class="row d-flex pt-5 pb-0">
                <div class="col-12 d-flex justify-content-around">
                    <form id="user-form" class="col-12 col-md-4 col-sm-10 d-flex justify-content-around flex-column" method="post" action="/results">
                        <input class="mb-3" type="text" name="user[id]">
                        <button class="m-auto btn" type="submit">Generate</button>
                    </form>
                </div>
                
            </section>       
    

        </div>
        
        <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        
    </body>
</html>
