	
<!DOCTYPE html>
<html>
    <head>
        <title>Sebastian Oviedo</title>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/menu') %>
        
        <div id="">
            <img src="<%= imgPath %>" alt="user-image-result" srcset="">
        </div>

        <%- include('partials/footer') %>
    </body>
</html>
